<div class='artist_header'>
	<ul>
		<li><img src="<%= artist.artist_images[2].image_url %>" /></li>
		<li>
			<h1><%= artist.name %></h1>
		</li>
	</ul>
</div>

<div class='artist_tracks'>
	<ul>
		<% for(var i=0; i < songs.length; i++) { %>
			<% var record = songs[i] %>
			<li><%= record.album.name %> / <%= record.song.track_number %> / <%= record.song.name %></li>
		<% } %>
	</ul>
</div>
